body {
  font-family: "Gill Sans";
  margin: 0;
  overflow-x: hidden;
}

.header {
  margin: 5% auto 0 auto;
  width: 80%;
}

.header #row {
  display: flex;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7vw;
  margin-left: 20%;
  white-space: nowrap;
  max-width: 80%;
}

.menuIconContainer {
  display: inline-block;
  cursor: pointer;
  margin-top: 62%;
  max-width: 20%;
}
.topBar {
  width: 25px;
}

.middleBar {
  width: 40px;
}

.bottomBar {
  width: 32px;
}

.topBar,
.middleBar,
.bottomBar {
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 1px;
  transition: 0.4s;
}

.animateHamburger .topBar {
  width: 32px;
}

.animateHamburger .middleBar {
  background-color: gold;
}

.animateHamburger .bottomBar {
  width: 25px;
}

#bioBlurb p {
  line-height: 1.7;
  font-size: 1em;
  width: 80%;
  margin: 2% auto 5% auto;
  /* text-decoration: underline;
  text-decoration-color: goldenrod; */
  text-shadow: -5px 5px 3px goldenrod;
}

.verticalMenu a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2em;
  display: block;
  padding: 7%;
  transition: 0.4s;
}

.verticalMenu a:first-child {
  padding-top: 25%;
}

.verticalMenu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aliceblue;
  overflow-x: hidden;
  transition: 0.4s;
}

.openMenu {
  width: 30%;
}

.startState {
  margin: 0;
  transition: 0.4s;
}

.moveOver {
  margin-left: 30%;
}

h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

h3 {
  font-weight: lighter;
  margin-top: -2%;
  margin-bottom: 10%;
  text-align: center;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
  font-size: 1.1em;
  margin-right: 5%;
}

p {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  white-space: nowrap;
}

li {
  padding: 0 2%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  filter: drop-shadow(-5px 5px 10px silver);
}

#pages {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

#social-media-bar {
  text-align: center;
}

#social-media-icon {
  width: 5%;
  margin-right: 2%;
}

#thumbnail-container {
  width: 80%;
  margin: 10% auto;
}

#thumbnail {
  width: 100%;
}

#footer {
  background-color: #f5f5f5;
  margin-bottom: 0;
  margin-top: 20%;
  padding: 4% 0;
}

@media (min-width: 768px) {
  h1 {
    float: right;
    font-family: "Gill Sans";
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  ul li {
    display: inline-block;
  }

  #pages {
    margin: 0;
    justify-content: start;
    width: 30%;
    display: none;
  }

  #header {
    width: 95%;
    margin: 0 auto;
    /* border-bottom: 2px solid silver; */
  }

  h5 {
    margin-right: 20%;
  }

  #social-media-bar {
    float: right;
    display: none;
  }

  #social-media-icon {
    width: 6%;
    padding: 1%;
    margin: 0;
  }

  #thumbnail-container {
    margin-top: 5%;
    width: 95%;
    margin-bottom: 0;
  }

  #thumbnail {
    width: 95%;
  }

  #row {
    display: flex;
  }

  #footer {
    margin-top: 5%;
    padding: 0.5%;
    text-align: center;
  }
}

/* @media (min-width: 1024px) {
  h1 {
    margin-top: 3%;
  }

  #pages {
    justify-content: left;
    margin-top: 1.5%;
  }

  #header {
    margin: 0 auto;
    width: 90%;
    padding: 0 5%;
    border-bottom: none;
    box-shadow: -2px 2px 2px silver;
  }

  #social-media-bar {
    margin-top: 3%;
    justify-content: right;
    margin-right: 0;
  }

  #social-media-icon {
    width: 5%;
  }

  #thumbnail {
    width: 98%;
  }

  #thumbnail-container {
    width: 90%;
  }
} */
