@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "lato";
  margin: 0;
  background-color: "white";
}

/* HEADER ELEMENTS */

.header {
  margin: 0 auto;
  width: 85%;
  padding: 45px 0 20px 0;
}

.logo {
  padding: 10px 15px;
  border: #667e65 4px solid;
  background-color: white;
  font-weight: 700;
  font-size: 24px;
}

.logo:hover {
  background-color: #667e65;
  color: white;
}

/* --nav-- */

nav {
  overflow: hidden;
  margin: 0;
}

nav ul {
  display: flex;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.active {
  border-bottom: #667e65 4px solid;
}

/* TYPE STYLES */

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

a:hover {
  background-color: #f2f2f2;
}

a:active {
  border-bottom: #667e65 4px solid;
}

.tertiary-text {
  font-size: 18px;
  color: #828282;
}

/* PROJECT CONTENT SECTION */

.container {
  margin: 0 auto;
  width: 85%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.hero-img {
  width: 100%;
  margin-bottom: 50px;
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 100px;
}

.column p {
  width: 85%;
  margin-top: 0;
}

button {
  max-width: fit-content;
  text-align: center;
  padding: 10px 15px;
  background-color: white;
  border-color: #667e65;
  color: #667e65;
  font-family: "lato";
  font-size: 18px;
  margin: 20px 0;
}

button:hover {
  background-color: #667e65;
  color: white;
  border: #667e65 2px solid;
}

button:active {
  border-color: white;
}

#home {
  max-width: fit-content;
  text-align: center;
  padding: 10px 15px;
  background-color: white;
  border: #667e65 2px solid;
  color: #667e65;
  font-family: "lato";
  font-size: 18px;
}

#home:hover {
  background-color: #667e65;
  color: white;
}

.featured {
  width: 70%;
  margin: 0 auto;
}

.full {
  width: 85%;
  margin: 0 5%;
}

.long {
  width: 80%;
  margin: 0 10% 100px 10%;
}

.gif {
  width: 70%;
  margin: 0 15%;
}

/* INDEX SPECIFIC */

#blurb {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}

.tab-button {
  display: inline-block;
  background-color: white;
}

.tab-nav {
  display: flex;
  padding: 0;
  list-style-type: none;
  border-bottom: #dadada 1px solid;
}

#thumbnail-container .row {
  width: 100%;
  margin: 0 auto 20px auto;
}

#thumbnail-container .row img {
  width: 100%;
}

.social-media-bar {
  display: flex;
}

.social-media-bar li {
  display: inline-block;
  list-style-type: none;
}

.social-media-icon {
  width: 40px;
}

#DPD-Work {
  display: block;
}

#More-Work {
  display: none;
}

/* RESUME */

#download-btn {
  color: #667e65;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-weight: bold;
}

/* FOOTER */

.footer {
  background-color: #667e65;
  color: white;
  height: 200px;
  margin: 0;
  text-align: center;
}

/* HAMBURGER MENU */

.menuIconContainer {
  display: inline-block;
  cursor: pointer;
}

.topBar {
  width: 4vw;
}

.middleBar {
  width: 6vw;
}

.bottomBar {
  width: 5vw;
}

.topBar,
.middleBar,
.bottomBar {
  height: 3px;
  background-color: black;
  margin: 6px 0;
  border-radius: 1px;
  transition: 0.4s;
}

.animateHamburger .topBar {
  transform: translateX(0px);
}

.animateHamburger .middleBar {
  transform: translateX(0px);
}

.animateHamburger .bottomBar {
  background-color: #667e65;
  transform: translateX(0px);
}

.verticalMenu a {
  font-family: "lato";
  font-weight: 400;
  display: block;
  transition: 0.4s;
}

.verticalMenu a:hover {
  background-color: white;
}

.verticalMenu a:first-child {
  margin-top: 15%;
}

.verticalMenu {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #667e65;
  overflow-x: hidden;
  transition: 0.4s;
}

.openMenu {
  width: 30%;
}

.startState {
  margin: 0;
  transition: 0.4s;
}

.moveOver {
  margin-left: 30%;
}

@media (max-width: 768px) {
  .page-link {
    display: none;
  }

  #blurb {
    font-size: 20px;
  }

  .header {
    padding: 20px 0;
  }
}

@media (max-width: 580px) {
  .row {
    display: block;
  }

  .tab-nav {
    margin: 0 auto 10px auto;
    width: 100%;
  }

  .hero-img {
    margin-bottom: 20px;
  }

  .column {
    margin: 0 auto 100px auto;
  }

  .column img {
    width: 100%;
    margin: 0 auto;
  }

  .column p {
    width: 90%;
  }
}

/* CANVAS */

canvas {
  display: absolute;
  z-index: 0;
}
