@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
  height: 100%;
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 4vw;
  font-weight: 600;
}

h2 {
  font-weight: 300;
  font-size: 3vw;
  text-align: center;
}

h3 {
  font-style: italic;
  font-weight: 600;
}

h4 {
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0;
}

h5 {
  color: red;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 0;
}

p {
  line-height: 1.6;
  font-weight: 300;
}

img {
  width: 100%;
  margin-top: 7%;
}

ul {
  list-style-type: none;
  line-height: 2;
  margin-top: 2%;
}

li {
  font-weight: 300;
}

a {
  color: black;
}

a:hover {
  filter: drop-shadow(-5px 5px 5px silver);
}

#header {
  width: 100%;
  margin-top: 0;
}

#backBtn {
  position: absolute;
  text-decoration: line-through;
  text-transform: uppercase;
  font-size: 1.5em;
  color: black;
  font-weight: 300;
  padding: 2%;
  top: 2%;
  left: 2%;
}

#backBtn:active {
  text-decoration: none;
}

#TOC {
  margin-top: 10%;
}

#container {
  width: 85%;
  margin: 10% auto;
}

#subsection {
  margin: 7% 0;
}

#row {
  display: flex;
}

#column {
  flex: 50%;
}

#Section1,
#Section2,
#Section3,
#Section4,
#Section5,
#Section6,
#Section7 {
  margin-bottom: 10%;
  padding-top: 5%;
}

#caption {
  color: silver;
  font-size: 0.8em;
  text-align: center;
}

#directory {
  margin-top: 20%;
  text-align: center;
}

#footer {
  background-color: #f5f5f5;
  margin-bottom: 0;
  margin-top: 20%;
  padding: 4% 0;
  text-align: center;
}

#footer p {
  font-size: 1.1em;
}

#social-media-icon {
  width: 5%;
  margin-right: 2%;
  padding-top: 2%;
}

video {
  width: 100%;
}

#intimoURL {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: #ef3f45;
  margin: 15% auto 20% auto;
}

#ff-digitalPages {
  box-shadow: -5px 5px 15px silver;
}

@media (min-width: 768px) {
  #backBtn:hover {
    text-decoration: none;
  }

  #container {
    margin: 0 auto;
    width: 100%;
  }

  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2vw;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
    text-align: left;
  }
  h5 {
    font-size: 1.4em;
    margin-top: 0;
    white-space: nowrap;
    text-align: left;
  }

  p,
  li {
    font-size: 20px;
    text-align: left;
  }

  img {
    width: 75%;
  }

  #caption {
    font-size: 1em;
  }

  #Section1,
  #Section2,
  #Section3,
  #Section4,
  #Section5,
  #Section6,
  #Section7 {
    padding-top: 0;
    margin-bottom: 4%;
  }

  #Section1,
  #Section3,
  #Section5,
  #Section7 {
    width: 70%;
    margin: 0 auto 4% auto;
  }

  #Section2,
  #Section4,
  #Section6 {
    background-color: #f5f5f5;
    padding: 1% 15%;
  }

  #Section2 #subsection {
    display: flex;
  }

  #Section2 #subsection ul {
    flex: 50%;
    -webkit-column-gap: 5%;
    column-gap: 5%;
    padding: 2% 4% 2% 0;
    margin: 2%;
  }

  #Section3,
  #Section4,
  #Section5 {
    text-align: center;
  }

  #Section3 h4,
  h3 {
    text-align: left;
  }

  #Section4 h5 {
    padding-top: 7%;
  }

  #subsection {
    margin-top: 4%;
  }

  ul {
    padding-left: 0;
  }

  #footer {
    margin-top: 5%;
    padding: 2% 0.5%;
  }

  #contactInfo {
    text-align: center;
  }

  #directory {
    margin-top: 10%;
  }

  #social-media-bar {
    margin-top: 2%;
  }

  #social-media-icon {
    width: 4%;
    padding: 0.25%;
    margin-top: 0;
  }

  #TOC {
    display: none;
  }

  #intimoURL {
    font-size: 2.5em;
    margin: 5% auto 9% auto;
  }

  #intimoURL a:hover {
    background-color: #ffff60;
    padding: 2%;
  }

  #ff-digitalPages {
    box-shadow: none;
  }
}
