html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Avenir Next";
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
  text-align: center;
}

h3 {
  font-style: italic;
  font-weight: 700;
}

h4 {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
}

h5 {
  color: red;
  font-style: italic;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
  margin-top: 7%;
}

ul {
  list-style-type: none;
  line-height: 2;
  margin-top: 2%;
}

a {
  color: black;
}

a:hover {
  filter: blur(4px);
}

#header {
  width: 100%;
  margin-top: 0;
}

#TOC {
  margin-top: 10%;
}

#container {
  width: 85%;
  margin: 10% auto;
}

#subsection {
  margin: 7% 0;
}

#row {
  display: flex;
}

#column {
  flex: 50%;
}

#Section1,
#Section2,
#Section3,
#Section4,
#Section5,
#Section6,
#Section7 {
  margin-bottom: 10%;
  padding-top: 5%;
}

#caption {
  color: silver;
  font-size: 0.8em;
  text-align: center;
}

#directory {
  margin-top: 20%;
  text-align: center;
}

#footer {
  background-color: #f5f5f5;
  margin-bottom: 0;
  margin-top: 20%;
  padding: 4% 0;
  text-align: center;
}

video {
  width: 100%;
}

#intimoURL {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: #ef3f45;
  margin: 15% auto 20% auto;
}
